	*
	{
	  color: #fff;
	  font-size: 28px;
	  font-weight: 300;
	  box-sizing: border-box;
	  font-family: "Nanum Gothic", sans-serif; font-weight: 400;
	}

	body
	{
	  background-color: #323232;
	  padding: 50px;
	}

	header,
	nav,
	section,
	aside,
	footer
	{
	  text-align: center;
	  background-color: #666666;
	  background-color: rgba( 233, 233, 233, 0.5 );
	  border-radius: 5px;
	  padding: 50px;
	}

	header,
	nav,
	footer
	{
	  width: 100%;
	  padding: 50px;
	}

	header
	{
	  margin-bottom: 50px;
	}

	h1
	{
	  margin: 0;
	}

	nav,
	aside
	{
	  width: 25%;
	}

	section
	{
	  float: left;
	  width: calc(50% - 100px);
	  margin: 0 50px 50px 50px;
	}

	section header,
	section article,
	section footer
	{
	  width: 100%;
	  background-color: #999999;
	  border-radius: 5px;
	  margin: 0;
	  padding: 50px;
	}

	section article
	{
	  margin: 25px 0;
	}

	nav
	{
	  float: left;
	}

	aside
	{
	  float: right;
	}

	nav ul
	{
	  list-style-type: none;
	  padding: 0;
	  margin-bottom: 0;
	}

	nav li
	{
	  display: inline-block;
	  margin: 0 0 0 50px;
	  width: 100px;
	}

	nav li:first-child
	{
	  margin-left: 0;
	}

	footer
	{
	  clear: both;
	}


/* drawlots.html */
	input, button{
		color: #000000;
	}

	.setupbox {
		width: 100%;
		padding: 0 0 10px;
		margin-bottom: 20px;
		float: right;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}

	.setupbox #setin {
		width: 100%;
		float: left;
	}

	.setupbox .title {
		width: 100%;
		margin: 0 0 10px;
		padding: 10px;
		font-size: 16px;
		font-weight: normal;
		background: #333333;
	}